# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prool:
.crash
.killscript
syslog
changelog
circle
log/perslog.txt
log/ip.log
log/imlog.txt
log/errlog.txt
lib/plrstuff/sets_drop.xml
lib/plrstuff/mob_stat_new.xml
lib/plrstuff/glory.lst
lib/plrstuff/titles.lst
lib/plrstuff/depot/*
lib/plrstuff/crc.lst
lib/plrstuff/exchange.*
lib/plrstuff/global_drop.tmp
lib/plrs/*
lib/misc/new_name
lib/misc/apr_name
lib/misc/globaluid
lib/etc/board/*
*.log
rooms.lst
*.bak
