$I3CONFIG

# This file will now allow you to use tildes.
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3config'
thismud      VirtustanMUD
autoconnect  1
telnet       mud.kharkov.org
web          http://mud.kharkov.org
adminemail   proolix@gmail.com
openstatus   Idle
mudtype      DikuMUD
minlevel     1
immlevel     4
adminlevel   51
implevel     60


# Information below this point cannot be edited online.
# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://cie.imaginary.com/protocols/intermud3.html for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1

# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
